/* Our Media Query Manager which we are going to use in our project */
/*
0-600px phone
600-900px tablet portrait
900-1200 tablet landscape
1800 + big desktop
*/
/*
-phone
-tab-port
-tab-lan
-big-desktop

1em=16px

therefore 600/16=37.5em;
          900/16=56.25em

*/
/* Your variables used in the designing dashboard goes here */
.margin-btm-sm {
  margin-bottom: 1rem; }

.margin-btm-med {
  margin-bottom: 3rem; }

.margin-btm-big {
  margin-bottom: 2rem; }

.margin-btm-large {
  margin-bottom: 4rem; }

.margin-top-sm {
  margin-top: 1rem; }

.margin-top-med {
  margin-top: 2rem; }

.margin-top-big {
  margin-top: 3rem; }

.margin-top-large {
  margin-top: 4rem; }

.add-btn {
  border: none;
  padding: 1rem 3rem;
  font-family: inherit;
  color: #fcfcfc;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #f0894d;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.3s; }
  .add-btn:hover {
    background-color: #f2955f; }

.btn-setReminder {
  font-family: inherit;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1rem;
  border: 1px dotted #f0894d;
  background-color: #fcfcfc;
  cursor: pointer;
  transition: all 0.3s;
  text-wrap: nowrap; }
  .btn-setReminder:hover {
    background-color: #f2ece2; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  height: 100vh;
  width: 100%; }
  @media (max-width: 44em) {
    html {
      font-size: 50%; } }
  @media (max-width: 35em) {
    html {
      font-size: 60%; } }
  @media (max-width: 25em) {
    html {
      font-size: 45%; } }

body {
  font-family: "Manrope", sans-serif;
  background-color: #fcfcfc; }

/*********************************/
/*********************************/
/****************Scroll bar******/
/*********************************/
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: #111111;
  border-radius: 1rem; }

.nav {
  padding: 1rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 62.5em) {
    .nav {
      flex-direction: row;
      justify-content: flex-start;
      gap: 1rem;
      flex-wrap: wrap;
      padding: 0; } }
  .nav-logo-box {
    border-bottom: 1px solid rgba(157, 157, 157, 0.2);
    cursor: pointer; }
    @media (max-width: 62.5em) {
      .nav-logo-box {
        border: none;
        margin: 0; } }
  .nav-logo {
    height: 5rem;
    width: 5rem;
    margin: 0 1rem; }
  .nav-options {
    list-style: none;
    width: 100%;
    padding: 0; }
    @media (max-width: 62.5em) {
      .nav-options {
        display: flex;
        flex-wrap: wrap;
        order: 3; } }
    .nav-options-item {
      padding: 1.2rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s; }
      .nav-options-item:hover {
        background-color: #f2ece2; }
      .nav-options-item a {
        text-decoration: none; }
        .nav-options-item a svg {
          height: 2.5rem;
          width: 100%; }
      .nav-options-item:last-child a svg {
        height: 3rem;
        width: 100%; }
      @media (max-width: 62.5em) {
        .nav-options-item {
          flex: 1; } }
  .nav-help {
    height: 3rem;
    width: 3rem;
    background-color: #111111;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all 0.3s;
    color: #fcfcfc; }
    @media (max-width: 62.5em) {
      .nav-help {
        margin-left: auto;
        margin-right: 2rem; } }
    .nav-help ion-icon {
      font-size: 1.6rem; }
    .nav-help:hover {
      background-color: rgba(17, 17, 17, 0.4);
      color: #111111; }

#selected {
  background-color: #f2ece2; }

.nav-options-item.no-hover:hover {
  background-color: #f2ece2; }

.sidebar {
  padding: 2rem 0 2rem 0;
  background-color: #f2ece2; }
  .sidebar-name {
    padding: 0 2rem 0 2rem;
    cursor: pointer; }
    .sidebar-name h1 {
      font-size: 1.8rem;
      font-weight: 900; }
    .sidebar-name p {
      font-weight: 500; }
  .sidebar-border {
    border-bottom: 1px solid rgba(157, 157, 157, 0.2);
    margin-top: -0.9rem; }
  .sidebar-list {
    padding: 3rem 2rem 0 2rem;
    list-style: none; }
    .sidebar-list-item a:link,
    .sidebar-list-item a:visited {
      text-decoration: none;
      color: #111111;
      cursor: pointer;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.7rem;
      transition: all 0.3s;
      border-radius: 0.5rem; }
      .sidebar-list-item a:link p,
      .sidebar-list-item a:visited p {
        font-size: 1.2rem; }
      .sidebar-list-item a:link ion-icon,
      .sidebar-list-item a:visited ion-icon {
        font-size: 1.4rem; }
    .sidebar-list-item a:active,
    .sidebar-list-item a:hover {
      background-color: #fcfcfc; }
    .sidebar-list-item-inner-opts {
      list-style: none;
      color: rgba(17, 17, 17, 0.8);
      cursor: pointer;
      padding: 0.5rem 1rem 0rem 2rem; }
      .sidebar-list-item-inner-opts li {
        padding: 0.5rem;
        font-weight: 400;
        border-radius: 0.2rem; }
        .sidebar-list-item-inner-opts li:hover {
          background-color: #fcfcfc; }
      .sidebar-list-item-inner-opts li:last-child {
        font-weight: 900; }
  .sidebar_checkbox {
    display: none; }

@media (max-width: 75em) {
  .sidebar {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in, opacity 0.1s ease-in; } }
  @media (max-width: 75em) and (max-width: 62.5em) {
    .sidebar {
      transform: scaleY(0);
      transform-origin: top; } }

@media (max-width: 75em) {
    .sidebar_checkbox:checked + .sidebar {
      visibility: visible;
      opacity: 1;
      z-index: 100;
      transform: translateX(0); } }
    @media (max-width: 75em) and (max-width: 62.5em) {
      .sidebar_checkbox:checked + .sidebar {
        transform: scale(1); } }

.tasks {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1rem 1rem rgba(17, 17, 17, 0.1); }
  .tasks h1 {
    margin-bottom: 1.3rem; }
  .tasks_search-cont {
    padding: 1rem;
    border: 1px solid rgba(157, 157, 157, 0.3);
    border-radius: 2rem; }
    .tasks_search-cont form {
      display: flex;
      align-items: center;
      font-family: inherit;
      color: rgba(157, 157, 157, 0.7); }
      .tasks_search-cont form ion-icon {
        font-size: 1.4rem;
        margin-right: 5px;
        cursor: pointer;
        transition: all 0.3s; }
        .tasks_search-cont form ion-icon:hover {
          color: #9d9d9d; }
      .tasks_search-cont form input[type="text"] {
        border: none;
        width: 100%;
        padding-right: 1rem;
        outline: none;
        font-size: 1.4rem; }
        .tasks_search-cont form input[type="text"]::placeholder {
          color: rgba(157, 157, 157, 0.7); }
        .tasks_search-cont form input[type="text"]:focus {
          border: none; }
  .tasks_project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-column-gap: 2rem;
    outline: 1px solid transparent;
    grid-row-gap: 5rem;
    flex-grow: 1; }
    .tasks_project-cards-general {
      padding: 2rem;
      border-radius: 2rem;
      background-color: #fcfcfc;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
    .tasks_project-cards-1 {
      background-color: #fcbea4; }
    .tasks_project-cards-2 {
      background-color: #fce6bd; }
  .tasks-img-box {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .tasks-img-box-menu:link img, .tasks-img-box-menu:visited img {
      height: 2rem;
      width: 2rem; }
    .tasks-img-box-imgs {
      display: flex;
      align-items: center; }
      .tasks-img-box-imgs div {
        height: 4rem;
        width: 4rem;
        background-color: #111111;
        color: #fcfcfc;
        border-radius: 50%;
        font-size: 1.4rem;
        display: grid;
        place-items: center;
        z-index: 5;
        border: 2px solid #fcbea4;
        transition: all 0.3s;
        cursor: pointer;
        font-weight: 500; }
      .tasks-img-box-imgs img {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        object-fit: cover;
        margin-left: -1.5rem;
        border: 2px solid #fcbea4; }
        .tasks-img-box-imgs img:nth-child(2) {
          z-index: 2; }
  .tasks p {
    margin-bottom: auto; }
  .tasks_reminder-box {
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid rgba(17, 17, 17, 0.2); }
    .tasks_reminder-box span {
      color: rgba(17, 17, 17, 0.9); }
    .tasks_reminder-box-txt {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media (max-width: 35em) {
        .tasks_reminder-box-txt {
          gap: 1rem; } }
      .tasks_reminder-box-txt p {
        font-size: 1.6rem;
        font-weight: 700; }
    .tasks_reminder-box-swipe {
      height: 0.5rem;
      width: 0.5rem;
      background-color: #f0894d;
      border-radius: 50%;
      position: relative;
      margin: 0 auto;
      cursor: pointer; }
      .tasks_reminder-box-swipe::after, .tasks_reminder-box-swipe::before {
        content: "";
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 50%;
        position: absolute; }
      .tasks_reminder-box-swipe::after {
        background-color: rgba(240, 137, 77, 0.75);
        top: 0;
        left: 1rem; }
      .tasks_reminder-box-swipe::before {
        background-color: rgba(240, 137, 77, 0.5);
        left: 2rem; }

.progress {
  height: 100%;
  background-color: #111111;
  border-radius: 25px 0 0 25px;
  transition: width 0.4s ease-in-out; }
  .progress-container {
    margin-top: auto; }
  .progress-info {
    display: block;
    color: #111111;
    font-weight: 400;
    text-align: left;
    margin-bottom: 0.7rem; }
  .progress-bar {
    width: 100%;
    background-color: rgba(17, 17, 17, 0.2);
    border-radius: 25px;
    overflow: hidden;
    height: 0.7rem; }

#card-2 {
  border: 2px solid #fce6bd; }
  #card-2-add {
    color: #111111;
    border: 2px solid #111111;
    font-weight: 500;
    background-color: #fce6bd; }

.updates {
  background-color: #fcfcfc;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 1rem 1rem rgba(17, 17, 17, 0.05); }
  .updates-menu {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem; }
  .updates-menu_icon {
    color: #f0894d;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.3s; }
    .updates-menu_icon:hover {
      color: #f2955f; }
  .updates-user {
    display: flex;
    justify-content: space-between;
    border-radius: 2rem; }
    .updates-user-info {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      position: relative; }
      .updates-user-info::before {
        content: "";
        height: 0.7rem;
        width: 0.7rem;
        border-radius: 50%;
        background-color: #f0894d;
        border: 1px solid #fcfcfc;
        position: absolute;
        top: 1.2rem;
        z-index: 2;
        left: 1.5rem; }
      .updates-user-info-bell {
        font-size: 2.7rem;
        cursor: pointer;
        transition: all 0.3s; }
        .updates-user-info-bell:hover {
          color: #f2955f; }
      .updates-user-info-dp {
        display: flex;
        align-items: center;
        justify-content: center; }
        .updates-user-info-dp img {
          display: block;
          height: 3.6rem;
          width: 3.6rem;
          border-radius: 50%;
          object-fit: contain;
          margin-right: 01rem;
          cursor: pointer; }
        .updates-user-info-dp div span {
          font-size: 1rem;
          color: #9d9d9d;
          font-weight: 700; }
        .updates-user-info-dp div p {
          font-size: 1.4rem;
          color: #111111;
          font-weight: 700; }
      .updates-user-info-chev {
        height: 1.8rem;
        width: 1.8rem;
        background-color: #f6f2ec;
        display: grid;
        place-items: center;
        border: 0.5px solid #fcbea4;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s; }
        .updates-user-info-chev:hover {
          background-color: #fcfcfc; }
        .updates-user-info-chev ion-icon {
          color: #f0894d;
          font-size: 1.2rem; }
  .updates-team {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem; }
    .updates-teamMembers {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .updates-teamMembers-img {
        height: 6rem;
        width: 6rem;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer; }
      .updates-teamMembers-jr {
        height: 6rem;
        width: 6rem;
        background-color: #f6f2ec;
        border-radius: 50%;
        display: grid;
        place-items: center;
        color: #f0894d;
        font-size: 1.6rem;
        font-weight: 700;
        cursor: pointer; }
      .updates-teamMembers-addmore {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dotted #f0894d;
        font-size: 2.8rem;
        color: #f0894d;
        background-color: #f6f2ec;
        cursor: pointer;
        transition: all 0.3s; }
        .updates-teamMembers-addmore:hover {
          background-color: #fcfcfc; }
  .updates-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: #fcfcfc;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(17, 17, 17, 0.1);
    margin-bottom: 2.5rem; }
    .updates-data-1 span {
      font-size: 1rem;
      font-weight: 500;
      color: rgba(17, 17, 17, 0.6); }
    .updates-data-1 p {
      font-size: 1.6rem;
      font-weight: 700; }
  .updates-daily-tasks-txt {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .updates-daily-tasks-txt p {
      font-size: 1.8rem;
      font-weight: 700; }
  .updates-edit:visited, .updates-edit:link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #f0894d;
    font-weight: 700;
    transition: all 0.3s; }
  .updates-edit:hover, .updates-edit:active {
    color: #f2955f; }
  .updates-task-box {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1rem; }
    .updates-task-box-card {
      padding: 3rem 2rem 2rem 2rem;
      border-radius: 1rem; }
    .updates-task-box-1 {
      background-color: #f6f1eb;
      position: relative; }
      .updates-task-box-1 p {
        font-size: 1.4rem;
        font-weight: 500; }
      .updates-task-box-1 span {
        font-size: 2rem;
        position: absolute;
        bottom: 1rem;
        right: 2rem;
        cursor: pointer; }
    .updates-task-box-2 {
      background-image: linear-gradient(rgba(242, 236, 226, 0.3), rgba(242, 236, 226, 0.5)), url(../imgs/icons/card-illustration.svg);
      background-size: cover;
      background-position: center;
      position: relative; }
    .updates-task-box-3 {
      background-image: linear-gradient(to bottom, rgba(242, 236, 226, 0.5), rgba(242, 236, 226, 0.7)), url(../imgs/icons/card-illustration-3.svg);
      background-size: cover;
      background-position: center;
      position: relative; }
    .updates-task-box-4 {
      background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.1), rgba(242, 236, 226, 0)), url(../imgs/icons/card-illustration-2.svg);
      background-size: cover;
      background-position: bottom;
      position: relative; }
      .updates-task-box-4 p {
        color: #fcfcfc; }

.card-p {
  font-size: 1.4rem;
  font-weight: 500; }

.task-box-card-2 {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  cursor: pointer; }
  .task-box-card-2::before {
    content: "";
    height: 0.7rem;
    width: 0.7rem;
    background-color: #f96161;
    border-radius: 50%; }
  .task-box-card-2 p {
    font-weight: 700; }
  .task-box-card-2-outline {
    height: 0.8rem;
    width: 0.8rem;
    outline: 1px solid rgba(240, 137, 77, 0.7); }

.task-box-card-3 {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  cursor: pointer; }
  .task-box-card-3::before {
    content: "";
    height: 0.7rem;
    width: 0.7rem;
    background-color: #34cbb3;
    border-radius: 50%; }
  .task-box-card-3 p {
    font-weight: 700; }
  .task-box-card-3-outline {
    height: 0.8rem;
    width: 0.8rem;
    outline: 1px solid rgba(240, 137, 77, 0.7); }

.task-box-card-4 {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  cursor: pointer; }
  .task-box-card-4::before {
    content: "";
    height: 0.7rem;
    width: 0.7rem;
    background-color: #fcfcfc;
    border-radius: 50%; }
  .task-box-card-4 p {
    font-weight: 700; }
  .task-box-card-4-outline {
    height: 0.8rem;
    width: 0.8rem;
    outline: 1px solid rgba(240, 137, 77, 0.7);
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center; }
    .task-box-card-4-outline ion-icon {
      color: #fcfcfc;
      font-size: 0.7rem; }

.parent-grid {
  display: grid;
  grid-template-columns: min-content minmax(max-content, 20%) 1fr minmax(min-content, 30%);
  grid-template-rows: repeat(5, 1fr);
  height: 100vh;
  width: 100vw;
  overflow: hidden; }
  @media (max-width: 44em) {
    .parent-grid {
      grid-template-rows: repeat(3, min-content); } }
  @media (max-width: 62.5em) {
    .parent-grid {
      grid-template-rows: min-content repeat(4, 1fr); } }
  @media (max-width: 75em) {
    .parent-grid {
      grid-template-columns: min-content minmax(max-content, 20%) 1fr minmax(min-content, 36%);
      overflow-x: hidden;
      overflow-y: auto; } }

.nav {
  grid-row: 1 / -1;
  grid-column: 1 / 2; }
  @media (max-width: 62.5em) {
    .nav {
      grid-row: 1 / 2;
      grid-column: 1 / -1; } }

.sidebar {
  grid-row: 1 / -1;
  grid-column: 2 / 3; }
  @media (max-width: 62.5em) {
    .sidebar {
      grid-row: 2 / 3;
      grid-column: 1 / -1; } }

.tasks {
  grid-row: 1 / -1;
  grid-column: 3 / 4; }
  @media (max-width: 75em) {
    .tasks {
      grid-column: 2 / 4; } }
  @media (max-width: 62.5em) {
    .tasks {
      grid-row: 2 / 3;
      grid-column: 2 / -1; } }

.updates {
  grid-row: 1 / -1;
  grid-column: 4 / 5; }
  @media (max-width: 62.5em) {
    .updates {
      grid-row: 3 / -1;
      grid-column: 2 / -1;
      height: 80vh; } }
