/* Your variables used in the designing dashboard goes here */

$color-orange: #f0894d;

$color-orange-hover: #f2955f;

$color-orange-light: #fcbea4;

$color-yellow-light: #fce6bd;

$color-black: #111111;
$color-gray: #9d9d9d;
$color-off-white: #f2ece2;
$color-white: #fcfcfc;
