.parent-grid {
  display: grid;
  grid-template-columns: min-content minmax(max-content, 20%) 1fr minmax(
      min-content,
      30%
    );
  grid-template-rows: repeat(5, 1fr);
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  @include respond(laptop) {
    grid-template-rows: min-content repeat(4, 1fr);
  }

  @include respond(desktop) {
    grid-template-columns: min-content minmax(max-content, 20%) 1fr minmax(
        min-content,
        36%
      );
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.nav {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  // background-color: lightblue;

  @include respond(laptop) {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }
}

.sidebar {
  grid-row: 1 / -1;
  grid-column: 2 / 3;
  // background-color: $color-orange;
  @include respond(laptop) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
}

.tasks {
  grid-row: 1 / -1;
  grid-column: 3 / 4;
  // background-color: $color-yellow-light;

  @include respond(desktop) {
    grid-column: 2 / 4;
  }
  @include respond(laptop) {
    grid-row: 2 / 3;
    height: 70vh;
    grid-column: 2 / -1;
  }
}

.updates {
  grid-row: 1 / -1;
  grid-column: 4 / 5;
  // background-color: $color-white;
  @include respond(laptop) {
    grid-row: 3 / -1;
    grid-column: 2 / -1;
    height: 80vh;
  }
}
