.updates {
  background-color: $color-white;
  padding: 2rem;
  outline: 1px solid lime;
  &-menu {
    display: flex;
    justify-content: flex-end;
  }

  &-menu_icon {
    color: $color-orange;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: $color-orange-hover;
    }
  }

  &-user {
    display: flex;
    justify-content: space-between;
    // outline: 1px solid lime;
    margin-bottom: 2rem;
    &-info {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      position: relative;
      &::before {
        content: "";
        height: 0.7rem;
        width: 0.7rem;
        border-radius: 50%;
        background-color: $color-orange;
        border: 1px solid $color-white;
        position: absolute;
        top: 1.5rem;
        z-index: 2;
        left: 1.5rem;
      }
      &-bell {
        font-size: 2.7rem;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          color: $color-orange-hover;
        }
      }

      &-dp {
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-right: ;
        img {
          display: block;
          height: 3.6rem;
          width: 3.6rem;
          border-radius: 50%;
          object-fit: contain;
          margin-right: 01rem;
          cursor: pointer;
        }

        div {
          span {
            font-size: 1rem;
            color: $color-gray;
            font-weight: 700;
          }

          p {
            font-size: 1.4rem;
            color: $color-black;
            font-weight: 700;
          }
        }
      }

      &-chev {
        height: 1.8rem;
        width: 1.8rem;
        background-color: #f6f2ec;
        display: grid;
        place-items: center;
        border: 0.5px solid $color-orange-light;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background-color: $color-white;
        }
        ion-icon {
          color: $color-orange;
          font-size: 1.2rem;
        }
      }
    }
  }

  &-team {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    &Members {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
      &-img {
        height: 5.5rem;
        width: 5.5rem;
        object-fit: cover;
        border-radius: 50%;
        // margin-right: 1rem;
      }

      &-jr {
        height: 5rem;
        width: 5rem;
        background-color: #f6f2ec;
        border-radius: 50%;
        display: grid;
        place-items: center;
        color: $color-orange;
        font-size: 1.6rem;
        font-weight: 700;
        cursor: pointer;
      }

      &-addmore {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dotted $color-orange;
        font-size: 2.8rem;
        color: $color-orange;
        background-color: #f6f2ec;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background-color: $color-white;
        }
      }
    }
  }

  &-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    // background-color: lightblue;
    background-color: $color-white;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba($color-black, 0.1);
    margin-bottom: 2.5rem;
    &-1 {
      span {
        font-size: 1rem;
        font-weight: 500;
        color: $color-gray;
      }
      p {
        font-size: 1.6rem;
        font-weight: 700;
      }
    }
  }

  &-daily-tasks-txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 1px solid lime;
    p {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  &-edit {
    &:visited,
    &:link {
      font-size: 1.4rem;
      text-decoration: none;
      color: $color-orange;
      font-weight: 700;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: $color-orange-hover;
    }
  }

  &-task-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    &-1 {
      background-color: lightblue;
    }

    &-2 {
      background-color: coral;
    }
    &-3 {
      background-color: aqua;
    }
    &-4 {
      background-color: lime;
    }
  }
}
